@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);

/*
EDBD3E
5B7778
93A8A9
D1E6E7
*/

* {
    font-family: monospace;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ecf0f1;
    font-size: 14px;
}

.container {
    width: 768px;
    margin: 1em auto;
}

table {
    margin-top: 1em;
    width: 100%;
}

table th {
    background-color: #edbd3e;
    text-transform: uppercase;
}